# Add to ~/.config/wayfire.ini. Do not replace the whole file.
# Blanking off matches raspi-config: dpms_timeout=-1 under [idle].

[autostart]
nova_letterbox = nova-letterbox --fullscreen

[idle]
dpms_timeout = -1
